/* --------------------------------------------------
  Greys
-------------------------------------------------- */
$nero: #222;
$gunmetal: #2D3339;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$grey: #777;
$dove-grey: #727272;
$suva: #888;
$nobel: #999;
$chalice: #AAA;
$silver: #BBB;
$alto: #CCC;
$gainsboro: #DDD;
$smoke: #EEE;
$white-smoke: #F6F6F6;
$wild-sand: #F4F4F4;
$alabaster: #FAFAFA;
$cloudy: #A9A096;
